# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Java files
[*.java]
indent_size = 4

# XML files (Maven POM, etc.)
[*.{xml,pom}]
indent_size = 2

# JavaScript/TypeScript files
[*.{js,ts,jsx,tsx}]
indent_size = 2

# CSS files
[*.{css,scss,sass}]
indent_size = 2

# HTML files
[*.{html,htm}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Properties files
[*.properties]
end_of_line = crlf